<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Historial del Día</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item text-muted active">Servicios
                            </li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Historial
                            </li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Historial Día
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6 col-lg-6 col-xlg-6">
                                <button type="button" class=" miBtn btn btn-rounded">
                                    <i class="far fa-file-pdf"></i>
                                    Descargar Liquidación
                                </button>
                            </div>
                        </div>
                        <br>

                        <!-- Tabla de servicios -->
                        {{> tablaHistorial}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal DETALLES de  SERVICIO -->
    <div class="modal fade" id="detallesServicio" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fechaDescripcionModal">2020-10-13</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="pl-3 pr-3" id="formModalEditarDomiciliario" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Administrador
                                    </strong>
                                    <p class="m-2" id="adminDescripcionModal">Sergio Aparicio</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Domiciliario
                                    </strong>
                                    <p class="m-2" id="domiciliarioDescripcionModal">Jhonatan Lagares</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <strong style="font-size: larger;">
                                Descripción del Servicio
                            </strong>
                            <p class="m-2 text-justify" id="descripcionDescripcionModal">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Saepe
                                hic eligendi
                                veniam accusamus nemo. Quod, quidem sint totam iste praesentium blanditiis aspernatur,
                                perferendis cupiditate quo in obcaecati sunt. Vel, libero.</p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Tipo de Servicio
                                    </strong>
                                    <p class="m-2" id="tipoServicioDescripcionModal">Vueltas de Banco</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Estado de Servicio
                                    </strong>
                                    <p class="m-2" id="estadoServicioDescripcionModal">En proceso</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Valor Servicio
                                    </strong>
                                    <p class="m-2" id="valorServicioDescripcionModal">$ 1000000000</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Valor Adicional
                                    </strong>
                                    <p class="m-2" id="valorAdicionalDescripcionModal">$ 31422222222</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Hora de Inicio
                                    </strong>
                                    <p class="m-2" id="horaInicioDescripcionModal">02:15:00</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Hora de Terminado
                                    </strong>
                                    <p class="m-2" id="horaFinalDescripcionModal">02:45:00</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Nombre del Cliente
                                    </strong>
                                    <p class="m-2" id="nombreClienteDescripcionModal">Richard Camilo Cano Claro</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <strong style="font-size: larger;">
                                        Dirección del Cliente
                                    </strong>
                                    <p class="m-2" id="direccionDescripcionModal">Calle 99 # 88 - 77</p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center text-muted">
        All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>