<div class="table-responsive">
    <table id="zero_config" class="table table-striped table-bordered no-wrap">
        <thead>
            <tr>
                <th>Administrador</th>
                <th>Domiciliario</th>
                <th>Cliente</th>
                <th>Detalles</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.historial  as |item|}}
            <tr>
                <td>{{ item.[0] }}</td>
                <td>{{ item.[1] }}</td>
                <td>{{ item.[2] }}</td>
                <td id="{{ @index }}">
                    <a href="#" data-toggle="modal" data-target="#detallesServicio" id="btnDetalles">Ver
                        Más</a>
                </td>
                <td>
                    <div class="row">
                        <div class="col" style="text-align: center;" id="">
                            <a href='#' data-toggle='modal' data-target="#" id="btnCancelar">
                                <i class='material-icons' style="color: #ff4f70;" data-toggle='tooltip'
                                    title='Cancelar'>&#xe5c9;</i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>

            {{/each}}

        </tbody>
        <tfoot>
            <tr>
                <th>Administrador</th>
                <th>Domiciliario</th>
                <th>Cliente</th>
                <th>Detalles</th>
                <th>Acción</th>
        </tfoot>
    </table>
</div>